# Application Server
PORT=3000
NODE_ENV=development

# Database Connection (PostgreSQL Supabase)
# Koneksi Transaction Pooler (Port 6543) untuk operasional runtime aplikasi
DATABASE_URL="postgresql://username:password@host:6543/database_name?pgbouncer=true&connection_limit=3"
# Koneksi Session Pooler (Port 5432) untuk melakukan eksekusi migrasi tabel
DIRECT_URL="postgresql://username:password@host:5432/database_name"

# Authentication Keys (Change in Production!)
JWT_SECRET="generate-a-secure-random-key"
JWT_EXPIRATION="1h"
JWT_REFRESH_SECRET="generate-another-secure-random-key"
JWT_REFRESH_EXPIRATION="7d"

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
